<mat-toolbar color="primary">
    <mat-toolbar-row>
      <h1>Inspire Coders</h1>
      <span class="menu-spacer"></span>
      <div>
        <a mat-button [routerLink]="'/accounts'"> Home </a>
        <a mat-button [routerLink]="'/create-account'"> About </a>
        <a mat-button [routerLink]="'/contacts'"> How it works </a>
        <a mat-button [routerLink]="'/create-contact'"> Contact </a>
        <a mat-button [routerLink]="'/activities'"> Signup </a>
        <a mat-button [routerLink]="'/create-activity'"> Login </a>
      </div>
    </mat-toolbar-row>
</mat-toolbar>

<div style="margin: 20px;">
    Would you like to learn to code for free?
    <p style="margin-top: 50px; font-weight: bold;">Coming soon!!!</p>
</div>
