
<div class="row">
  <div class="col">
    <nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
      <div class="container-fluid">
        <a class="navbar-brand ps-3" href="#">Inspire Coders</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNav"
          aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapseNav">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item ps-3">
              <a class="nav-link" href="#">Home </a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link" href="#">About </a>
            </li>
            <li class="nav-item ps-3 how-it-works">
              <a class="nav-link" [routerLink]="howitworkUrl">How It Works </a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link" href="#">Contact </a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link signup-btn" [routerLink]="signupUrl">Signup </a>
            </li>
            <li class="nav-item ps-3">
              <a class="nav-link login-btn" [routerLink]="loginUrl">Login </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="row ms-5 mt-5 ps-5 pt-5">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="banner-section-text-top">
        WOULD YOU LIKE TO LEARN TO CODE FOR FREE?
      </div>
      <div class="banner-section-text-mid">
        Inspire coders offers the best on hands practice in the world of programming. 
        The training is for complete beginners who want to learn the basics of software development.
      </div>
      <div>
        <a class="btn btn-info justify-content-center text-center joinus-btn" [routerLink]="signupUrl">JOIN US NOW </a>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <img class="img-fluid" src="../../../assets/images/banner-image.png">
    </div>
  </div>
  <div class="col">
    
  </div>
</div>

<footer class="mt-5 p-3 bg-light">
  <div class="container text-center home-footer">
    <div class="row">
      <div class="col-md-8 col-sm-12 col-xs-12">
        <span>© 2022 Imprinno Solutions. All rights reserved.  Terms & Conditions | Privacy Policy</span>
      </div>
      <div class="col-md-4 col-sm-12 col-xs-12">
        <span class="text-muted">logos</span>
      </div>
    </div>
  </div>
</footer>
