<nav class="navbar navbar-expand-lg navbar-light bg-light w-100">
  <div class="container-fluid">
    <a class="navbar-brand ps-3" href="#">Inspire Coders</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNav"
      aria-controls="collapseNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapseNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ps-3">
          <a class="nav-link" href="#">Home </a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" href="#">About </a>
        </li>
        <li class="nav-item ps-3 how-it-works">
          <a class="nav-link" [routerLink]="howitworkUrl">How It Works</a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link" href="#">Contact </a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link signup-btn" [routerLink]="signupUrl">Signup </a>
        </li>
        <li class="nav-item ps-3">
          <a class="nav-link login-btn" [routerLink]="loginUrl">Login </a>
        </li>
      </ul>
    </div>
  </div>
</nav>