
<div class="row">
    <div class="col">
      <app-header></app-header>
    </div>
    <div class="row m-2">
      <div class="col-12 mt-3">
        <div class="banner-section-text-top">

            <div class="container" *ngIf="isEmpty">
                <div class="forum-page-title">
                    No Forums yet
                </div>
                <div>
                    <img src="../../../../assets/images/forums/empty-forum.png" class="img-fluid mx-auto d-block forum-page-image" alt="No forum image">
                </div>
                <div class="text-center mt-4">
                  No Forums yet
                </div>
            </div>

            <div class="container" *ngIf="!isEmpty">
                <div class="row mb-2 forum-page-title">
                    <div class="col-12">
                      <h1 class="heading-secondary">Forums</h1>
                    </div>
                </div>
                <div>
                    <div class="row" *ngFor="let record of records">
                      <div class="col-md-12 col-sm-6">
                        <div class="card bg-light">
                          <div class="card-body">
                            <h5 class="card-title heading-primary">
                              <a [routerLink]="forumidUrl">{{ record.coursename }}</a>
                            </h5>
                            <p class="card-text inset-line">Facilitated by {{ record.facilitatorname }}</p>
                            <div>
                             <p class="long-copy">Starts on {{ record.startdate }}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- end row-->
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  
  <footer class="mt-5 p-3 bg-light upcoming-forum-footer">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <span>© 2022 Imprinno Solutions. All rights reserved.  Terms & Conditions | Privacy Policy</span>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <span class="text-muted">logos</span>
        </div>
      </div>
    </div>
  </footer>
  