.facilitator-page-title{
    height: 37px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 34px;

    color: #22215B;
}

.facilitator-page-image{
    height: 230px;
}

.facilitator-page-top{
    height: 28px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 28px;

    color: #000000;
}

.facilitator-page-mid{
    height: 21px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    line-height: 21px;

    color: #51557E;
}