
<div class="row">
    <div class="col-xl-3 col-md-6">
        <app-statistics-widget1 title="Total Students" [stats]="175" subTitle="Revenue today" color="#f05050"
            [progress]="50"></app-statistics-widget1>
    </div>
    <div class="col-xl-3 col-md-6">
        <app-statistics-widget1 title="Total Forums" [stats]="125" subTitle="Revenue today" color="#ffbd4a"
            [progress]="11">
        </app-statistics-widget1>
    </div>
    <div class="col-xl-3 col-md-6">
        <app-statistics-widget1 title="Total Courses" [stats]="125" subTitle="Revenue today" color="#f05050"
            [progress]="11"></app-statistics-widget1>
    </div>
    <div class="col-xl-3 col-md-6">
        <app-statistics-widget1 title="Total Facilitators" [stats]="100" subTitle="Revenue today" color="#ffbd4a"
            [progress]="11">
        </app-statistics-widget1>
    </div>
</div>
