$color-primary-red: #dc3545;
$color-secondary-gray: rgb(112, 112, 112);
$color-light-grey: #C59A6F;

.paragraph {
  color: $color-primary-red;
}

.inset {
  color: $color-secondary-gray;
  font-size: 15px;
}

.retro {
  color: $color-secondary-gray;
  font-size: 17px;
}

.psyck {
  color: $color-primary-red;
}

.upcoming-forum-footer{
    bottom: 0;
    position: absolute;
    width: 100%;
}